In [11]:
import numpy as np
import pandas as pd

In [12]:
final= pd.read_csv('../data/clean/clean_data.csv')
final.head()

,Country,Year,Indicator,Sex,Value
0,Afghanistan,2011-01-01,"Adolescent Birth Rate (births per 1,000 women ...",\N,116.45
1,Afghanistan,2012-01-01,"Adolescent Birth Rate (births per 1,000 women ...",\N,111.29
2,Afghanistan,2013-01-01,"Adolescent Birth Rate (births per 1,000 women ...",\N,106.54
3,Afghanistan,2014-01-01,"Adolescent Birth Rate (births per 1,000 women ...",\N,101.45
4,Afghanistan,2015-01-01,"Adolescent Birth Rate (births per 1,000 women ...",\N,97.42

In [13]:
final.dtypes

Country      object
Year         object
Indicator    object
Sex          object
Value        object
dtype: object